<code-viewer path="./assets/docs/list/list.md"></code-viewer>

<code-viewer path="./assets/docs/list/list.example.md"></code-viewer>

<div class="example-container">
  <dhs-list>
    <dhs-list-item class="custom" link="/list" routerLinkActive="active">Active List</dhs-list-item>
    <dhs-list-item link="/list" routerLinkActive="test">Active List</dhs-list-item>
    <dhs-list-item link="/auth">
      Non Active with badge
      <dhs-badge status="success" type="badge"></dhs-badge>
    </dhs-list-item>
    <dhs-list-item link="http://www.google.com">Non Active with external link</dhs-list-item>
    <dhs-list-item link="/item">Test</dhs-list-item>
  </dhs-list>
</div>
