<code-viewer path="./assets/docs/badge/badge.md"></code-viewer>


<table class="table">
  <thead>
  <tr>
    <th>status</th>
    <th>label</th>
    <th>badge</th>
    <th>badge-square</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Default
    </td>
    <td>
      <dhs-badge type="label">Default</dhs-badge>
    </td>
    <td>
      <dhs-badge>1</dhs-badge>
    </td>
    <td>
      <dhs-badge type="square">1</dhs-badge>
    </td>
  </tr>
  <tr>
    <td>
      Danger
    </td>
    <td>
      <dhs-badge status="danger" type="label">Danger</dhs-badge>
    </td>
    <td>
      <dhs-badge status="danger">4</dhs-badge>
    </td>
    <td>
      <dhs-badge status="danger" type="square">4</dhs-badge>
    </td>
  </tr>
  <tr>
    <td>
      Warning
    </td>
    <td>
      <dhs-badge status="warning" type="label">Warning</dhs-badge>
    </td>
    <td>
      <dhs-badge status="warning">4</dhs-badge>
    </td>
    <td>
      <dhs-badge status="warning" type="square">4</dhs-badge>
    </td>
  </tr>
  <tr>
    <td>
      Success
    </td>
    <td>
      <dhs-badge status="success" type="label">Success</dhs-badge>
    </td>
    <td>
      <dhs-badge status="success">4</dhs-badge>
    </td>
    <td>
      <dhs-badge status="success" type="square">4</dhs-badge>
    </td>
  </tr>
  <tr>
    <td>
      Info
    </td>
    <td>
      <dhs-badge status="info" type="label">Info</dhs-badge>
    </td>
    <td>
      <dhs-badge status="info">4</dhs-badge>
    </td>
    <td>
      <dhs-badge status="info" type="square">4</dhs-badge>
    </td>
  </tr>
  <tr>
    <td>
      Primary
    </td>
    <td>
      <dhs-badge status="primary" type="label">Primary</dhs-badge>
    </td>
    <td>
      <dhs-badge status="primary">4</dhs-badge>
    </td>
    <td>
      <dhs-badge status="primary" type="square">4</dhs-badge>
    </td>
  </tr>
  <tr>
    <td>
      Inverse
    </td>
    <td>
      <dhs-badge status="inverse" type="label">Inverse</dhs-badge>
    </td>
    <td>
      <dhs-badge status="inverse">4</dhs-badge>
    </td>
    <td>
      <dhs-badge status="inverse" type="square">4</dhs-badge>
    </td>
  </tr>
  </tbody>
</table>
