body {
  margin: 0;
  padding: 0;
  overflow: scroll;
}

#demo-sidebar {
  background: #313131;
  position: fixed;
  height: 100vh;
  width: 200px;

  &>dhs-list > li {
    list-style: none;
    padding: 10px;
  }
  &>dhs-list > li > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
}

#demo-content {
  margin-left: 200px;
  padding: 5px 30px;
}

.example-container {
  display: block;
  position: relative;
  min-height: 300px;
}
