<code-viewer path="./assets/docs/icon/icon.md"></code-viewer>

<h2>Icon Demo</h2>

<hr>

<h3>Basic</h3>

<p>You can simply add the `icon` attribute on the cd-icon selector to display any Font-Awesome icon</p>

<cd-icon icon="desktop"></cd-icon>

<hr>

<h3>Set Icon Size</h3>

<p>Add size attribute on cd-icon to enlarge current icon. For more detail, checkout source file of font-awesome <a href="https://github.com/FortAwesome/Font-Awesome/blob/v4.7.0/less/larger.less">larger.less</a></p>

<cd-icon icon="desktop" size="lg"></cd-icon>

<hr>

<h3>Set Icon Background Color</h3>

<p>Add the 'color' attribute to cd-icon to change background color</p>

<cd-icon color="red" icon="bell"></cd-icon>

<hr>

<h3>Set Icon Fixed Width</h3>

<p>Add the 'fixed' attribute to cd-icon and set to 'true'</p>

<cd-icon icon="desktop" size="lg" fixed="true"></cd-icon>
