<code-viewer path="./assets/docs/menu/menu.md"></code-viewer>


<code-viewer path="./assets/docs/menu/menu.example1.md"></code-viewer>

<div class="example-container">
  <cd-menu triggerBy="myMenu">
    <cd-menu-header icon="fa fa-desktop" text="Header"></cd-menu-header>
    <cd-menu-item link="/item">Item1</cd-menu-item>
    <cd-menu-item link="/item">Item2</cd-menu-item>
    <cd-menu-item link="/item">Item3</cd-menu-item>
    <cd-menu-item link="/item">Item4</cd-menu-item>
  </cd-menu>
</div>

<code-viewer path="./assets/docs/menu/menu.example2.md"></code-viewer>

<div class="example-container">
  <div dropdown>
    <cd-menu-button id="myDropdownMenu" name="menuName">
      Dropdown Menu
    </cd-menu-button>
    <cd-menu triggerBy="myDropdownMenu">
      <cd-menu-header icon="fa fa-desktop" text="Header"></cd-menu-header>
      <cd-menu-item link="/item">Item1</cd-menu-item>
      <cd-menu-item link="/item">Item2</cd-menu-item>
      <cd-menu-item link="/item">Item3</cd-menu-item>
      <cd-menu-item link="/item">Item4</cd-menu-item>
    </cd-menu>
  </div>
</div>
